@import "./select.module.scss";
body {
  background-color: #0000ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#root {
  background-color: #0000ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  border-radius: 20px;
  box-sizing: border-box;
}

svg {
  color: #fff;
}

p {
  font-family: sans-serif;
  color: #fff;
  text-align: center;
}

.head {
  display: flex;
  border-radius: 10px;
  text-align: center;
  background-color: #4444ff;
  color: #ffffff;
  width: 33%;
}

.input {
  width: 50%;
}

.heads {
  display: flex;
  border-radius: 10px;
  width: 33%;
  background-color: #ffffff;
  color: #4444ff;
}

.button {
  background-color: #ff6200;
  outline: none;
  padding: 20px 150px;
  border-radius: 10px;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
}
.box {
  // margin-top: 10px;
  // display: flex;
  overflow: hidden;
  // flex-direction: column;
  border-radius: 10px;
  box-sizing: border-box;
}

input {
  width: 100%;
  margin-bottom: 2px;
  outline: none;
  background-color: #fff;
  padding: 0.75rem 2rem 0.75rem 1rem;
  color: #000;
  border: none;
  box-sizing: border-box;
}

.Header {
  display: flex;
  justify-content: flex-end;
}

.Headers {
  margin-bottom: 25px;
  display: flex;
  width: 100%;
  justify-content: center;
}
