
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    padding:0px;
    margin: 0px;
    background-color: darkblue;


}
.account {
    position: relative;
    background: #1c1c1c;
    width: 380px;
    height: 420px;
    overflow: hidden;
    border-radius: 8px;
}


.account::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}


.account::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
.account form{
    inset: 4px;
    position: absolute;
    padding: 30px 40px;
    border-radius: 8px;
    background: #222;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.borderline{
    position: absolute;
    top: 0;
    inset: 0;
}
.borderline::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}
.borderline::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}

h1{
    color: #fff;
    text-align: center;

}

.submit{
    margin-top: 30px;
    padding: 8px;
    background-color: blue;
    color: white;
    border: none;
    transition: 0.25s;
}
.submit:hover {
    background-color: darkblue
}


.account form .form-group i {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff;
    width: 100%;
    pointer-events: none;
    height: 2px;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
}

.form-group {
    position: relative;
    height: 80px;
    line-height: 80px;

}

.account form .form-group input{
    background: transparent;
    position: relative;
    width: 100%;

    outline: none;
    box-shadow: none;
    border: none;

    font-size: 1em;
    transition: 0.5s;
    letter-spacing: 0.05em;
    z-index: 10;
    color: #23242a;

}
.account form .form-group span {
    position: absolute;
    left: 0;
    color: #8f8f8f;
    pointer-events: none;
    transition: 0.5s;
    font-size: 1em;
    padding: 20px 10px 10px;
}





.input:focus ~ span {
    color: #fff;
    animation: pricas 0.5s;
}
.account form .form-group input:valid ~ i,
.account form .form-group input:focus ~ i {
    height: 44px;
}

@keyframes pricas {
    100%{
        transform: translateY(-34px);
    }
}

@keyframes animate{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}